/* Style Resets */

html {
	font-size: 62.5%;
}



/* Color Systems */

.brand-yellow {
	color: #fbf74b;
}

.brand-black {
	color: #000;
}

.brand-grey {
	color: #c4c4c4;
}

.brand-dark-grey {
	color: #979797;
}

.brand-white {
	color: #fff;
}



/* Typography */

h1 {
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-size: 4rem;
	width: auto;
	margin: 0 0 0 2.5rem;
	padding-top: 2rem;
}

h2 {
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-style: italic;
	font-size: 4rem;
	margin: 0 auto;
	padding-top: 3.5rem;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	font-family: "Oswald", sans-serif;
}

li {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 250%;
	width: auto;
	margin: 0 2rem 0 2rem;
	text-align: right;
}

.caps {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}

.line-through {
	text-decoration: line-through; 
}

.create-profile-header {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 4rem;
	text-align: left;
	padding: 0;
}

.underline {
	text-decoration: underline;
	text-decoration-color: #fbf74b;
}

p {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	font-size: 3rem;
}

/* Containers */

.flex-container {
	display: -webkit-flex;
	display: flex;
}

#tag-line {
	background: #c4c4c4;
	min-height: 12rem;
	margin: 0 auto;
}

.inline-flex-container {
	display: -webkit-flex;
	display: inline-flex;
}

header {
	min-height: 18rem;
	background: #000;
}

nav {
	min-height: 8rem;
	margin: 2rem 0 auto 30rem;
}

body {
	max-width: 128rem;
}

#hero-image {
	min-height: 66.4rem;
	background: no-repeat top/100% url("../img/coworking.jpg");
}

.create-profile {
	position: relative;
	margin: 0 4rem 0 auto;
	top: 4rem;
	max-width: 35rem;
	padding: 4rem;
	text-align: left;
	background: #fff;
	opacity: 0.75;
}

/* Decorations */
hr {
	margin: 2rem 0 0 0;
	vertical-align: bottom;
	border-top: 0.3rem solid #fbf74b;
	border-bottom: 0.3rem solid #fbf74b; 
}




